body {
  background-color: white;
}

.god-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  height: 750px;
}

.page-container1 {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-right: 5px solid black;
}

.page-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(182, 182, 182);
  box-sizing: border-box;
  border: 5px solid transparent;
}

.yellow-border {
  border-color: gold;
}

.order {
  border: 2px solid black;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  color: white;
  font-size: 20px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.order-info-price {
  font-size: 22px;
}